<%- include('../partials/header') %>

<h2>HOD Dashboard</h2>

<p>Hello, <strong><%= user.name %></strong>. Use the options below to manage student projects:</p>

<ul>
  <li><a href="/hod/guide-assignment">Assign guides to students</a></li>
</ul>

<%- include('../partials/footer') %>
