<%- include('../partials/header') %>

<h2>Guide Dashboard</h2>

<p>Hello, <strong><%= user.name %></strong>. Here’s a quick overview:</p>

<ul>
  <li><a href="/guide/project-approvals">View &amp; review assigned project titles</a></li>
</ul>

<%- include('../partials/footer') %>
